@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid green; */
}

body {
  font-family: normal;
  background-color: #363940;
}

@layer components {
  .reset-password {
    @apply fixed top-0 left-0 h-screen w-screen opacity-0 invisible flex justify-center items-center transition-all duration-200 bg-overlay;
  }

  .reset-password.active {
    @apply opacity-100 visible;
  }

  .reset-password .container {
    @apply w-[440px] h-[206px] scale-50 transition-all duration-200;
  }

  .reset-password.active .container {
    @apply scale-100;
  }

  .wrapper {
    @apply h-screen bg-bg bg-cover flex justify-center items-center tall:overflow-y-auto tall:items-start tall:py-[50px];
  }

  .wrapper > div {
    @apply hidden animate-spinning;
  }

  .wrapper > div.active {
    @apply block;
  }

  .dropdown-btn {
    @apply text-overlay-text bg-gray-4 hover:bg-gray-5 px-3 py-[8px] w-full text-left;
  }

  .main-btn {
    @apply relative text-white flex items-center justify-center w-full bg-button-initial hover:bg-button-hover ease-linear duration-150 font-medium text-base rounded-secondary leading-[24px] mb-[8px] mt-5 min-w-[130px] h-[44[x]] min-h-[44px];
  }

  .main-btn.disabled {
    cursor: not-allowed;
  }

  .main-btn.disabled .continue {
    opacity: 0.5;
    transition: all 0.2s;
  }

  .main-btn.active {
    cursor: pointer;
  }

  .main-btn.active .continue {
    opacity: 1;
    transition: all 0.2s;
  }
}

.dropdownscrollbar::-webkit-scrollbar {
  width: 6px;
}

.dropdownscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dropdownscrollbar::-webkit-scrollbar-thumb {
  background: #212226;
  border-radius: 20px;
  border: 1px solid #303136;
}

.chatbar::-webkit-scrollbar {
  width: 12px;
}

.chatbar::-webkit-scrollbar-track {
  background: #2e3337;
}

.chatbar::-webkit-scrollbar-thumb {
  background: #212226;
  border-radius: 20px;
  border: 3px solid #303136;
  background-clip: padding-box;
}

.invisiblebar::-webkit-scrollbar {
  width: 10px;
}

.invisiblebar::-webkit-scrollbar-track {
  background: transparent;
}

.invisiblebar::-webkit-scrollbar-thumb {
  background: transparent;
}

@font-face {
  font-family: 'normal';
  src: url('./media/fonts/normal.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'medium';
  src: url('./media/fonts/medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'semibold';
  src: url('./media/fonts/semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'bold';
  src: url('./media/fonts/bold.ttf') format('truetype');
  font-weight: 700;
}
